body {
	background: lightgray;
}

#container {
	text-align: center;
	margin: 60px auto;
	width: 300px;
	background: azure;
	border: 2px solid black;
}

#display {
	text-align: right;
	margin-bottom: 5px;
	height: 100px;
	border: 2px solid gray;
	background: white;
	font-size: 20px;
}

#buttons {
	display: inline-block;
	padding-bottom: 30px;
	padding-top: 30px;
}

.btn-default {
    background: white;
    height: 50px;
    width: 50px;
    border: solid 1px black;
}

.btn-default:hover {
	background: black;
	color: white;
	border: none;
	outline-style: none;
}

#clear, #zero {
	width: 100px;
}

#equal {
	position: absolute;
	margin-left: 5px;
	margin-top: -70px;
	height: 120px;
}

#float {
	float: left;
}